body {
    background-color: #6e5c62;
}

.row {
    /* border: 1px solid black; */
    padding: 50px;
    margin-bottom: 60px;
    justify-content: space;
}

.cell{
    width: 100px;
    height: 100px;

    margin: 5px 6px;
    float: left;

    font-size: 80px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    color: white;

}

.inative {
    background-color: #615458;
}

.ative {
    border: 1px solid black;
}