h1 {
	text-align: center;
	font-size: 40px;
	color: #ffffff;

	padding-bottom: 105px;
}

#grid {
	display: grid;
	justify-content: center;
}

body {
	background-color: #6e5c62;
	font-family: "Mitr", sans-serif;
}

.row {
	padding: 5px;
	justify-content: space;
}

.cell {
	width: 80px;
	height: 80px;

	margin: 0px 2.5px;
	float: left;
	display: flex;

	font-size: 45px;
	border-radius: 10px;
	justify-content: center;
	font-weight: bold;
	color: white;
	align-items: center;
	text-transform: uppercase;
}

.inative {
	background-color: #615458;
}

.row-active {
	box-shadow: 0px 0px 0px 8px #4c4347 inset;
}

.edit {
	box-shadow: 0px 0px 0px 20px #4c4347 inset;
}

@keyframes spin2 {
	0% {
		transform: rotateY(180deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

@keyframes size-up {
	100% {
		scale: 1.3;
	}
}
